/* 
    Document   : Style
    Created on : May 11, 2015, 3:15:44 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.home {
    height: auto;
    width: auto;
    background: blue;
}
.header {
    height: 200px;
    width: auto;
    background: gray;
}
.footer{
    height: 200px;
    width: auto;
    background: gray;
}
.divleft {
    width: 200px;
    height: auto;
    background: red;
}
.divright {
       width: 800px;
    height: auto;
    background: gray;
}

